[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[packages]
aiohttp = ">=3.4.4"
attrs = ">=18.2.0"
beautifulsoup4 = ">=4.6.3"
certifi = ">=2018.8.24"
chardet = ">=3.0.4"
click = ">=7.0"
gunicorn = ">=19.9.0"
html5lib = ">=1.0.1"
idna = ">=2.7"
itsdangerous = ">=0.24"
multidict = ">=4.4.2"
python-pushover = ">=0.4"
requests = ">=2.19.1"
six = ">=1.11.0"
urllib3 = ">=1.23"
webencodings = ">=0.5.1"
yarl = ">=1.2.6"
async_timeout = ">=3.0.0"
Flask = ">=1.0.2"
Werkzeug = ">=0.14.1"
flask-cors = "*"


[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
